<!DOCTYPE html>
<html>

	<title>{{pagetitle}}</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<style>
		body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
		table {margin-left: auto; margin-right: auto;}
	</style>
	
	<body class="w3-light-grey">

	<!-- w3-content defines a container for fixed size centered content, 
	and is wrapped around the whole page content, except for the footer in this example -->
	<div class="w3-content" style="max-width:1400px">

		<!-- Header -->
		<header class="w3-container w3-center w3-padding-32"> 
  			
  			<h1><b>{{title}}</b></h1>
  			
  			<!-- Shortcuts -->
  			<p>
  				<span class="w3-tag"><a href="{% url 'lookup:insert' %}">Insert data</a></span>
  				<span class="w3-tag"><a href="{% url 'lookup:query' %}">Query user</a></span>
  				<span class="w3-tag"><a href="{% url 'lookup:log' %}">Guess secret</a></span>
  			</p>
		
		</header>

		<form class="w3-container w3-center" method="{{method}}" action="{{action}}"> 

			{% csrf_token %}

			<table>
				{% for field in formfields %}
				
				<tr>
					<td align="right">{{field.0}}:</td> 
					<td align="left"><input type="{{field.1}}" name="{{field.0}}"></td>
				</tr>
				
				{% endfor %}
			</table>
			
			<input type="submit" value="{{buttonname}}">
			
			
		</form>

	</div>
	</body>

</html>